/* this is built on the framework i had from snippet-03, but with significant changes to reflect the large amounts of new classes added and the need to make the website look good on both mobile and desktop
    the mobile breakpoint is set at 320px while the desktop breakpoint is set at 1024px 
    for the final version i also added a breakpoint at 1440px so it would look nicer on my macbook*/
@media screen and (min-width: 320px) {
    body {
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
        margin: 1rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        touch-action: auto;
    }  

    header {
        background-color: #000071;
        color: white;
        margin: -1rem -1rem 1rem -1rem;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin: 1rem;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 0;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    img {
        height: auto; 
        max-width: 100%;
        border-radius: 8px;
    }

    figure {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 0;
        align-items: center;
    }

    .page-tree {
        margin-bottom: 0.5rem;
    }
    
    .section-content-1 {
        background-color: rgb(245, 245, 245);
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 8px;
    }

    .section-content-2 {
        background-color: rgb(222, 222, 222);
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 8px;
    }

    .section-content-3 {
        background-color: rgb(211, 211, 211);
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 8px;
    }

    .section-title {
        text-align: center;
        margin: 1rem 0;
    }

    .adoptables {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(222, 222, 222);
        color: rgb(63, 63, 63);
        padding: 1rem;
        border-radius: 8px;
    }

    .pet-listing {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(211, 211, 211);
        border-radius: 8px;
        margin: 0.25rem;
        padding: 0.4rem;
        min-height: 250px;
    }

    .pet-listing img {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 150px;
        max-width: 100%;
        object-fit: cover;
    }

    .featured-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:1rem;
    }

    .featured-container img {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 300px;
        max-width: 100%;
        object-fit: cover;
    }

    .featured-container h2 {
        justify-self: center;
        align-self: center;
        margin-bottom: 0.5rem;
    }

    .thin-border {
        border-width: 1px;
        border-style: solid;
        border-color: black; 
    }

    figcaption {
        margin-left: 0;
        text-align: center;
        padding: 0.5rem;
    }

    a {
        color: #0779e3;
        transition-property: color;
        transition-duration: 300ms;
    }

    a:hover, a:focus {
        text-decoration: underline;
    }

    .nav-main-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #0779e3;
        background-color: #ffffff;
        font-size: 1.25rem;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        margin: 0.25rem 0;
    }

    .listing-title {
        grid-column: 2;
        justify-self: center;
        align-self: top;
        margin: 0;
    }

    .nav-link-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #0779e3;
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0ms;
        margin: 0.25rem;
        width: 200px;
        height: 40px;
        border-radius: 4px;
    }

    .nav-link-item:active, 
    .nav-link-item:hover,
    .nav-link-item:focus {
        color: white;
        background-color: rgb(175, 121, 226);
    }

    input:hover, input:focus {
        border-width: 3px;
        border-style: solid;
        border-color: #0779e3;
    }

    .page-tree {
        padding-bottom: 1rem;
    }

    .pet-page-listing {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: 0.5rem;
        justify-content:center;
    }

    .pet-page-listing .nav-link-item {
        justify-self: center;
        align-self: center;
    }
}



@media screen and (min-width: 1024px) {
    body {
        margin: 1.5rem auto;
        max-width: 1200px;
    }

    header {
        margin: -2rem -2rem 2rem -2rem;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        margin: 1rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
    }

    hr {
        margin: 2rem 0;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    .adoptables {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .featured-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 1rem;
        align-items: center;
    }

    .featured-container img {
        grid-column: 1;
        grid-row: 1/span 3;
        justify-self: center;
        align-self: center;
        width: auto;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    .featured-container h2 {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
        align-self: top;
        padding-bottom: 0;
    }

    .featured-container .nav-link-item{
        grid-column: 2;
        grid-row: 2;
        justify-self: start;
        align-self: center;
    }

    .featured-container p{
        grid-column: 2;
        grid-row: 3;
        justify-self: end;
        align-self: center;
    }

    .pet-listing {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr;
        object-fit: cover;
    }

    .pet-listing img {
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center;
        align-self: center;
        width: 180px;
        height: 180px;
        max-width: 100%;
        object-fit: cover;
    }

    .pet-listing h3 {
        justify-self: start;
        align-self: center;
        padding: 0.5rem;
    }

    .pet-listing .nav-link-item {
        justify-self: start;
        align-self: center;
        margin-left: 0.5rem;
    }
    
    .pet-page-listing {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr;
        object-fit: cover;
        padding: 1rem;
    }

    .pet-page-listing img{
        grid-row: 1/ span 2;
        grid-column: 1;
        justify-self: center;
        align-self: center;
        width: auto;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    .pet-page-listing h2{
        grid-row: 1;
        grid-column: 2;
        font-size: 2.5rem;
        justify-self: start;
        align-self: start;
        padding-left: 1rem;
    }

    .pet-page-listing .nav-link-item {
        grid-row: 2;
        grid-column: 2;
        justify-self: start;
        align-self: start;
        margin-left: 1rem;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-main-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        margin: 2rem auto;
        max-width: 1920px;
        font-size: 1.4rem;
    }

    header {
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin: 2.5rem 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-main-item {
        font-size: 1.75rem;
        padding: 0.75rem 1.25rem;
    }

    .nav-link-item {
        font-size: 1.5rem
    }

    .section-content-1 {
        padding: 0.1rem;
    }

    .section-content-2 {
        padding: 0.1rem;
    }

    .section-content-3 {
        padding: 0.1rem;
    }
}